{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-container">
        <h1 class="title">Current Season Matches ({{ current_year }})</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Home</th>
                <th scope="col">Away</th>
                <th scope="col">Date</th>
                <th scope="col">Half Time</th>
                <th scope="col">Full Time</th>
            </tr>
            </thead>
            <tbody>
            {% for match in matches_data %}
                <tr>
                    <th scope="row">{{ match.match_id }}</th>
                    <td><a href="{% url 'team details' match.home_team %}">{{ match.home_team }}</a></td>
                    <td><a href="{% url 'team details' match.away_team %}">{{ match.away_team }}</a></td>
                    <td>{{ match.match_date_time }}</td>
                    <td>{{ match.first_half_result }}</td>
                    <td>{{ match.second_half_result }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}